*{
  margin: 0;
  padding: 0;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container{
  background-color: gray;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container *{
  margin: 10px;
}

a:visited{
  color: white;
}